:root{
    --green : #27AE60;
    --light-green : #78d69f;
    --dark-green : #29854f;
    --border-table: rgb(200, 200, 200);
}

h1{
    background-color: aqua;
}

.display-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}



